.App {
  text-align: center;
}

main {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.title {
  padding: 0;
  margin: 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: black;
}

p {
  margin: 0;
}

nav {
  padding: 10px;
}

.rightButton {
  float: right;
}

.loginForm {
  border-color: #3f51b5;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
